@import 'tailwindcss';

@theme {
	--color-brown: #6e4424;
	--color-green: #0ea425;
	--color-red: #fe3134;
	--color-gray: #efecec;
	--color-orange: #ff852f;
}

/* Mueve tus clases custom a una capa específica */
@layer components {
	.modal-bg {
		@apply fixed inset-0 bg-black/60 flex justify-center items-center z-50;
	}

	.modal-frame {
		@apply bg-white rounded-xl relative shadow-lg max-h-[90vh] overflow-auto;
	}

	.input {
		@apply w-full border px-3 py-2 rounded-lg bg-white outline-none focus:ring-2;
	}

	.table-preset {
		@apply grid grid-cols-1 gap-3 md:gap-0 place-items-center py-4 md:py-2 border-b border-brown/10 px-4 md:px-0;
	}

	.table-item {
		@apply w-full md:w-40 text-center truncate;
	}

	.input-style {
		@apply border rounded-lg px-3 py-2 shadow-sm focus:ring-2 focus:ring-[#8B5A2B] focus:outline-none;
	}

	.menu-item {
		@apply flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100 transition-colors;
	}

	.dropdown-item {
		@apply flex items-center gap-2 px-4 py-2 hover:bg-gray-50 transition-colors text-sm;
	}
}

/* El resto de tu CSS... */
.modal-frame::-webkit-scrollbar {
	width: 0px;
}

meter {
	width: 100%;
	height: 20px;
	border-radius: 8px;
}

meter::-webkit-meter-bar {
	background: #e5e7eb;
	border-radius: 8px;
	height: 10px;
}

meter::-webkit-meter-optimum-value {
	background: black;
	border-radius: 8px;
}

meter::-webkit-meter-suboptimum-value {
	background: orange;
	border-radius: 8px;
}

meter::-webkit-meter-even-less-good-value {
	background: red;
	border-radius: 8px;
}

html::-webkit-scrollbar {
	display: none;
	appearance: none;
}

.swal2-progress-bar {
	background-color: var(--color-green) !important;
}
